body {
  font-family: 'Inter', sans-serif;
  background-color: red;
}

.navbar-brand {
  font-weight: 600;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.btn {
  border-radius: 10px;
}