{% extends 'teams/layout.html' %}

{% block title %}Usuń projekt{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">

    <div class="card shadow-lg p-4 border-0 rounded-4 text-center">
      <h2 class="mb-4">Usuń projekt</h2>

      <p>Czy na pewno chcesz usunąć projekt: <strong>{{ project.name }}</strong>?</p>

      <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger w-100 mt-3">Usuń</button>
      </form>

      <a href="{% url 'project_list' %}" class="btn btn-secondary w-100 mt-3">
        Anuluj
      </a>
    </div>

  </div>
</div>

{% endblock %}
