{% extends 'teams/layout.html' %}

{% block title %}Messages{% endblock %}

{% block content %}

<h2 class="mb-4">Messages</h2>

<a href="{% url 'send_message' %}" class="btn btn-primary mb-3">
  ✉️ Write a message
</a>

{% if messages %}
  {% for message in messages %}
    <div class="card shadow-sm mb-3 border-0">
      <div class="card-body">
        <h5 class="card-title">
          Od: <strong>{{ message.sender.username }}</strong>
        </h5>
        <p class="card-text">{{ message.content }}</p>
        <p class="text-muted small">{{ message.timestamp }}</p>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p class="text-muted">No messages.</p>
{% endif %}

{% endblock %}
