{% extends 'teams/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">

    <div class="card shadow-lg p-4 border-0 rounded-4">
      <h2 class="text-center mb-4">create an account</h2>

      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div id="passwordHelp" class="form-text mt-2"></div>
        <button type="submit" class="btn btn-primary w-100 mt-3">
          Registration
        </button>
      </form>

      <p class="text-center mt-3">
        you already have an account?
        <a href="{% url 'login' %}" class="text-decoration-none">Zaloguj się</a>.
      </p>
    </div>

  </div>
</div>

{% endblock %}
